.funcef-bot {
    height: 400px;
    width: 320px;
    position: fixed;
    background: #F5F5F5;
    right: 40px;
    bottom: 0;
    display: none;
    border-radius: 6px 6px 0 0;
}

	.funcef-bot .wc-chatview-panel:focus,
	.funcef-bot .wc-chatview-panel:visited,
	.funcef-bot .wc-chatview-panel:hover,
	.funcef-bot .wc-chatview-panel {
		outline: none;
	}

	.funcef-bot .wc-header {
	    background-color: #67a5d1;
	    border-radius: 5px 5px 0 0;
	    cursor: pointer;
	}

		.funcef-bot .wc-header:hover {
			opacity: 0.8;
		}

		.funcef-bot .wc-header i {
			float: right;
		    border: 0 none;
		    border-radius: 5px;
		    font-size: 18px;
			line-height: 25px;
    		padding-right: 8px;

		}

	.funcef-bot .wc-message-groups {
	    background: #F5F5F5;
	    bottom: 40px;
	}

	/*.funcef-bot .wc-message-content {
	    background-color: #67a5d1;
	}*/

	.funcef-bot .wc-console {
	    height: 50px;
	    border: 1px solid #dbdee1;
	    border-radius: 8px;
	    left: 10px;
	    right: 10px;
	    background: #FFF;
	    bottom: 6px;
	}

.abrirChat {
    color: #fff;
    background-color: #67a5d1;
    cursor: pointer;
    position: fixed;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    right: 50px;
    overflow: hidden;
    font-family: arial;
    font-size: 14px;
}

.abrirChat:hover {
    opacity: 0.8;
}

.abrirChat > div:first-child {
    float: left;
    background: rgba(0,0,0,0.15);
    padding: 0 11px;
    line-height: 30px;
}

.abrirChat > div:last-child {
    float: left;
    padding: 0 11px;
    line-height: 30px;
    user-select: none;
}